*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header div{
    background-color: rgb(78,161,255); 
    width: 100vw;
    height: 120px;
    background-image: url('img/pattern.png');
    background-repeat: repeat;
    background-size: 32%;
}
#logo{
    width: 20%;
    margin-top: 2%;
    margin-left: 1%;
}
main{
    margin-left: 1%;
    margin-top: 2%;
}
h1{
    font-size: 50px
}
#title{
    font-size: 20px;
    color: gray;
}
p #date{
    font-size: 15px;
}
#img{
    width: 95%;
}
.text{
    margin-top: 2%;
}
.text span{
    background-color: rgb(255, 255, 0);
}
ul{
    margin-top: 3%;
    margin-left: 20px;
}
table{
    margin-top: 2%;
}
th{min-width: 300px;
   text-align: left;
   background-color: rgb(32, 170, 229);
   color: white;
}
td{min-width: 300px;
   max-width: 780px;
}
footer{
    margin-top: 3%;
    margin-left: 1%;
}
footer h3{
    color: gray;
}
#adv1{
    background-image: url(img/monitor.jpg);
    margin-top: 2%;
    width: 312px;
    height: 208px;
}
#adv1 p{
    font-size: 30px;
    color: white;
    font-weight: 800;
    margin: 3%;
} 
#adv2{
    background-image: url(img/graph.jpg);
    margin-top: 2%;
    width: 312px;
    height: 208px;
}
#adv2 p{
    font-size: 30px;
    color: white;
    font-weight: 800;
    margin: 3%;
} 
.odd{
    background-color: rgb(177, 229, 242);
}