*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header div{
    background-color: rgb(78,161,255); 
    width: 100vw;
    height: 120px;
    background-image: url('img/pattern.png');
    background-repeat: repeat;
    background-size: 32%;
}
#logo{
    width: 20%;
    margin-top: 2%;
    margin-left: 1%;
}
main{
    margin-left: 1%;
    margin-top: 2%;
}
h1{
    font-size: 50px
}
#title{
    font-size: 20px;
    color: gray;
}
p #date{
    font-size: 15px;
}
#img{
    width: 95%;
}
.text{
    margin-top: 2%;
}
.text span{
    background-color: rgb(255, 255, 0);
}
ul{
    margin-top: 3%;
    margin-left: 20px;
}